openapi: 3.2.0
info:
  description: 'The base URL for all API endpoints is https://api.rekki.com/api


    Api key value consists of word Bearer together with api key that you can get from integrations@rekki.com'
  title: Rekki.com Supplier Orders API
  contact:
    email: integrations@rekki.com
  license:
    name: All rights reserved
  version: ''
servers:
- url: https://api.rekki.com/api
tags:
- name: Orders
paths:
  /integration/v1/orders/confirm:
    post:
      security:
      - ApiKeyAuth: []
      description: 'Notifies the buyer that the order has been acknowledged.


        Status:` 200 OK`

        Body: `{ success: true}`


        Status: `400 Conflict`

        Body: `{"error":"Order already confirmed","order_id":...}`


        Status: `400 Not Found`

        Body: `{"error":"Order not found","order_id":...}`


        in errors order_id denotes the order that failed to be confirmed


        **the processing stops at first error**'
      tags:
      - Orders
      summary: Confirm a pending order by its reference code
      operationId: ConfirmOrders
      deprecated: true
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main.SetIntegrateOrdersInput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main.FailedOrderError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/main.SetIntegrateOrdersInput'
        description: Payload
        required: true
  /integration/v1/orders/list:
    post:
      security:
      - ApiKeyAuth: []
      description: 'Orders are limited to max 30 days old (i.e. timestamp must be within 30 days).


        We recommend polling for orders by setting the new request timestamp to the time of the last successful request.


        After you start using the API, you should request orders since last received order''s inserted_at_ts, since the API returns orders created >= of the requested timestamp, you will always get at order from which you took the timestamp in the response. This will be explained again in the provided example.


        Keep in mind that since you can have more than one order per since, you must not do since: last_order.inserted_at_ts + 1, but keep the last order you received''s reference and ignore the duplicate.


        After you start using the API, you should request orders since last received order''s inserted_at_ts, since the API returns orders created >= of the requested timestamp, you will **always** get at order from which you took the timestamp in the response. This will be explained again in the provided example.


        Keep in mind that since you can have more than one order per since, you must not do since: last_order.inserted_at_ts + 1, but keep the last order you received''s reference and ignore the duplicate.


        ## Exaple usage


        In this JavaScript example, all orders are retrieved. Then it keeps pulling for new orders since the last order, every hour.


        ```

        const fetch = require("node-fetch");


        const sleep = function sleep(ms) {

        return new Promise(resolve => setTimeout(resolve, ms));

        };


        const fetch_orders = async function(token, since) {

        let r = await fetch(

        "https://api.rekki.com/api/catalog/integration/list_orders_by_supplier",

        {

        method: "POST",

        headers: {

        Authorization: "Bearer " + token,

        "X-REKKI-Authorization-Type": "supplier_api_token",

        "Content-Type": "application/json",

        Accept: "application/json"

        },

        body: JSON.stringify({ since })

        }

        );

        return await r.json();

        };


        const poll = async function(token, last_rekki_order_time) {

        let last_order_reference = undefined;


        while (true) {

        console.log("requesting orders since " + last_rekki_order_time);

        let response = await fetch_orders(token, last_rekki_order_time);


        for (let order of response.orders) {

        if (order.reference == last_order_reference) {

        // here is where we are ignoring the order we

        // took the inserted_at_ts from

        // but since we can have more orders in the same inserted_at_ts

        // you can''t just do since: inserted_at_ts+1

        continue;

        }

        if (order.inserted_at_ts >= last_rekki_order_time) {

        last_rekki_order_time = order.inserted_at_ts;

        last_order_reference = order.reference;

        }


        // process(order)

        console.log(order);

        }

        await sleep(3600 * 1000); // wait 1 hour

        }

        };


        poll("XXXXXXX-XXXX-XXXX-XXXXX-XXXXXXXXXXXX", parseInt((+new Date() /1000) - 3600 * 24 * 30));

        ```'
      tags:
      - Orders
      summary: Lists all orders placed for the supplier that were placed through REKKI
      operationId: ListOrdersBySupplier
      deprecated: true
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main.OrderListOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main.GenericErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/main.OrderListInput'
        description: Payload
        required: true
  /integration/v1/orders/list_not_integrated:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Orders
      summary: Lists all orders placed for the supplier that were placed through REKKI and not…
      operationId: ListNotIntegratedOrders
      deprecated: true
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main.OrderListOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main.GenericErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/main.OrderListInput'
        description: Payload
        required: true
  /integration/v1/orders/set_error:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Orders
      summary: Report failure to integrate an order
      operationId: MarkIntegrationError
      deprecated: true
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main.SuccessConfirmation'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main.FailedOrderError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/main.SetErrorOrderInput'
        description: Payload
        required: true
  /integration/v1/orders/set_integrated:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Orders
      summary: Mark orders as integrated
      operationId: MarkOrdersIntegrated
      deprecated: true
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main.UpdateSuccess'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main.GenericErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/main.SetIntegrateOrdersInput'
        description: Payload
        required: true
  /integration/v3/orders/confirm:
    post:
      security:
      - ApiKeyAuth: []
      description: 'Notifies the buyer that the order has been acknowledged.


        Status:` 200 OK`

        Body: `{ success: true}`


        Status: `400 Conflict`

        Body: `{"error":"Order already confirmed","order_id":...}`


        Status: `400 Not Found`

        Body: `{"error":"Order not found","order_id":...}`


        in errors order_id denotes the order that failed to be confirmed


        **the processing stops at first error**'
      tags:
      - Orders
      summary: Confirm a pending order by its reference code
      operationId: ConfirmOrdersV3
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.ConfirmOrdersInput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.FailedOrderError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3.ConfirmOrdersInput'
        description: Payload
        required: true
  /integration/v3/orders/list:
    post:
      security:
      - ApiKeyAuth: []
      description: '**UPDATE TO REFLECT V3 CHANGES**


        Orders are limited to max 30 days old (i.e. timestamp must be within 30 days).


        We recommend polling for orders by setting the new request timestamp to the time of the last successful request.


        After you start using the API, you should request orders since last received order''s inserted_at_ts, since the API returns orders created >= of the requested timestamp, you will always get at order from which you took the timestamp in the response. This will be explained again in the provided example.


        Keep in mind that since you can have more than one order per since, you must not do since: last_order.inserted_at_ts + 1, but keep the last order you received''s reference and ignore the duplicate.


        After you start using the API, you should request orders since last received order''s inserted_at_ts, since the API returns orders created >= of the requested timestamp, you will **always** get at order from which you took the timestamp in the response. This will be explained again in the provided example.


        Keep in mind that since you can have more than one order per since, you must not do since: last_order.inserted_at_ts + 1, but keep the last order you received''s reference and ignore the duplicate.


        ## Example usage


        In this JavaScript example, all orders are retrieved. Then it keeps pulling for new orders since the last order, every hour.


        ```

        const fetch = require("node-fetch");


        const sleep = function sleep(ms) {

        return new Promise(resolve => setTimeout(resolve, ms));

        };


        const fetch_orders = async function(token, since) {

        let r = await fetch(

        "https://api.rekki.com/api/catalog/integration/list_orders_by_supplier",

        {

        method: "POST",

        headers: {

        Authorization: "Bearer " + token,

        "X-REKKI-Authorization-Type": "supplier_api_token",

        "Content-Type": "application/json",

        Accept: "application/json"

        },

        body: JSON.stringify({ since })

        }

        );

        return await r.json();

        };


        const poll = async function(token, last_rekki_order_time) {

        let last_order_reference = undefined;


        while (true) {

        console.log("requesting orders since " + last_rekki_order_time);

        let response = await fetch_orders(token, last_rekki_order_time.toISOString());


        for (let order of response.orders) {

        if (order.reference == last_order_reference) {

        // here is where we are ignoring the order we

        // took the inserted_at from

        // but since we can have more orders in the same inserted_at

        // you can''t just do since: inserted_at + 1 second

        continue;

        }

        if (+new Date(order.inserted_at) >= +last_rekki_order_time) {

        last_rekki_order_time = order.inserted_at;

        last_order_reference = order.reference;

        }


        // process(order)

        console.log(order);

        }

        await sleep(3600 * 1000); // wait 1 hour

        }

        };


        let startDate = new Date()

        startDate.setDate(startDate.getDate() - 30)

        poll("XXXXXXX-XXXX-XXXX-XXXXX-XXXXXXXXXXXX", startDate)

        ```'
      tags:
      - Orders
      summary: Lists all orders placed for the supplier that were placed through REKKI
      operationId: ListOrdersBySupplierV3
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.OrderListOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.GenericErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3.OrderListInput'
        description: Payload
        required: true
  /integration/v3/orders/set_error:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Orders
      summary: Report failure to integrate an order
      operationId: MarkIntegrationErrorV3
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.SuccessConfirmation'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.FailedOrderError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3.SetErrorOrderInput'
        description: Payload
        required: true
  /integration/v3/orders/set_integrated:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Orders
      summary: Mark orders as integrated
      operationId: MarkOrdersIntegratedV3
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.UpdateSuccess'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.GenericErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3.SetIntegratedOrdersInput'
        description: Payload
        required: true
  /integration/v4/orders/set_integrated:
    post:
      description: 'This endpoint allows you to mark orders as integrated (success) in REKKI''s records.


        **Payload:**


        - For each order, you are required to provide a `Reference ID` and an `External ID`.


        - The `Reference ID` is the REKKI order reference, i.e. **U8806513**.


        - The `External ID` is the Order ID in your system, i.e. **SO-25001**.


        - If you can not provide an `External ID`, you can pass the same value used for the `Reference ID`.


        **200 Response:**


        - Response will contain separate lists for `updated`, `failed`, and `skipped`.


        - Each order will also have a list of `messages` with details about the attempt.'
      security:
      - ApiKeyAuth: []
      tags:
      - Orders
      summary: Mark orders as integrated
      operationId: MarkOrdersIntegratedV4
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v4.IntegratedOrdersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.GenericErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v4.SetIntegratedOrdersInput'
        description: Payload
        required: true
  /integration/v4/orders/list:
    post:
      security:
      - ApiKeyAuth: []
      description: '**IMPORTANT - v4 onwards**


        Callers **must** use an appropriate JSON parser to parse the output.'
      tags:
      - Orders
      summary: Lists all orders placed for the supplier that were placed through REKKI
      operationId: ListOrdersBySupplierV4
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v4.OrderListOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v4.GenericErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v4.OrderListInput'
        description: Payload
        required: true
components:
  schemas:
    main.SetErrorOrderInput:
      type: object
      properties:
        attempts:
          description: Number of attempts made to push the integration
          type: integer
        error:
          description: error message
          type: string
        order:
          type: object
          properties:
            reference:
              type: string
        product_code:
          type: string
    v3.ConfirmOrdersInput:
      type: object
      properties:
        orders:
          description: Array of References of the orders to confirm, required. Order refs are discoverable when listing orders.
          type: array
          items:
            type: string
    v3.OrderListInput:
      type: object
      properties:
        extra_item_fields:
          description: 'Show extra item fields

            * size - show item size'
          type: array
          items:
            type: string
            enum:
            - size
        show_previous_attempts:
          description: Show previous integration attempts
          type: boolean
          default: false
        since:
          description: Filters orders created at or after the given timestamp
          type: string
          example: '2006-01-02T15:04:05-07:00'
        skip_integrated:
          description: Only fetch orders that were not marked as integrated
          type: boolean
          default: false
    v3.DeliveryAddress:
      type: object
      properties:
        address:
          type: string
        city:
          type: string
        country:
          type: string
        postcode:
          type: string
    main.UpdateSuccess:
      type: object
      properties:
        affected:
          description: number of items actually updated
          type: integer
        success:
          type: boolean
          example: true
    v4.OrderResponseInfo:
      type: object
      properties:
        reference_id:
          type: string
          description: REKKI's order reference
        external_id:
          type: string
          description: External order reference, if applicable
        messages:
          type: array
          items:
            type: string
    integration.OrderItem:
      type: object
      properties:
        id:
          description: REKKI's item id, for REKKI internal reference
          type: string
        name:
          description: item name as defined on the customer product list
          type: string
        price:
          description: the item price as set in REKKI
          type: string
        price_cents:
          description: the item price as set in REKKI, in cents
          type: integer
        product_code:
          description: 'product code that maps to the supplier catalog, suppliers can modify

            the product code for the future orders for this customer at https://supplier.rekki.com'
          type: string
        quantity:
          description: quantity
          type: number
        spec:
          description: details/notes provided by the supplier for the item
          type: string
        units:
          description: item unit as defined on the customer product list
          type: string
    v4.Order:
      type: object
      properties:
        confirmed_at:
          description: the time at which the supplier confirmed the order (via email, or via the REKKI supplier app, or via the REKKI API)
          type: string
          example: '2019-08-12T12:20:10-07:00'
        confirmed_by:
          description: who confirmed the order (can be "supplier-api" or an email address if confirmed via the email button)
          type: string
        contact_email:
          description: the email for the person who placed the order
          type: string
        contact_info:
          description: the phone number or email address for the person who placed the order
          type: string
        contact_name:
          description: the full name of the person who placed the order
          type: string
        customer_account_no:
          description: the account number for customer within the supplier system, this can be setup in REKKI supplier app ( https://supplier.rekki.com ).
          type: string
        customer_department:
          description: the department name for the customer, e.g. "kitchen", "bar", "office", etc.
          type: string
        delivery_address:
          description: delivery address for this specific order
          $ref: '#/components/schemas/v4.DeliveryAddress'
        delivery_instructions:
          description: defined by the user at the moment of making an order (e.g. "opening hours 8am - 4pm.")
          type: string
        delivery_on:
          description: expected delivery date (when users place orders they specify for which day it is supposed to be delivered)
          type: string
          example: '2020-06-01'
        external_po_number:
          description: External Purchase Order Number for orders placed via external systems (e.g. "PO123")
          type: string
        inserted_at:
          description: when was the order created by the customer (ISO date time)
          type: string
        inserted_at_ts:
          description: when was the order created by the customer (unix timestamp in seconds)
          type: integer
        integration:
          description: integration-related data
          $ref: '#/components/schemas/v4.IntegrationData'
        items:
          description: items requests in this order
          type: array
          items:
            $ref: '#/components/schemas/v4.OrderItem'
        location_name:
          description: the name of the location that placed the order, can be NULL
          type: string
        notes:
          description: defined by the user at the moment of making an order and usually refer to that specific order (e.g. "please send fresher tomatoes")
          type: string
        reference:
          description: REKKI's order reference
          type: string
        rekki_connect:
          description: REKKI Connect data. Can be null if it's not a REKKI Connect order or there is no relevant data.
          $ref: '#/components/schemas/v4.ConnectData'
        supplier_notes:
          description: 'notes define by the user for the supplier, usually being common across orders (e.g.: "please use the side entrance for delivery")'
          type: string
        tags:
          description: tags for this order
          type: array
          items:
            type: string
        updated_at:
          description: when was the order last updated (ISO date time)
          type: string
        updated_at_ts:
          description: when was the order last updated (unix timestamp in seconds)
          type: integer
    v4.ConnectData:
      type: object
      properties:
        original_email_subject:
          description: Original REKKI Connect email subject line. Can be null.
          type: string
    v4.IntegrationData:
      type: object
      properties:
        integrated_at:
          description: The time when the order was integrated successfully, or null if it was not integrated yet.
          type: string
        status:
          description: 'The integration status. Can be one of: pending, done, failed'
          type: string
    v3.SetErrorOrderInput:
      type: object
      properties:
        orders:
          description: list of orders failed to integrate, required
          type: array
          items:
            $ref: '#/components/schemas/v3.OrderIntegrationError'
    v3.GenericErrorResponse:
      type: object
      properties:
        error:
          type: string
    v4.OrderListInput:
      type: object
      properties:
        enable_oob:
          description: Enable OOB processing for the orders. Optional.
          type: boolean
        filter:
          description: Show only orders matching the filters. Optional.
          $ref: '#/components/schemas/v4.OrderListInputFilter'
        since:
          description: Show only orders created at or after the given timestamp. Required.
          type: string
          example: '2006-01-02T15:04:05-07:00'
    v4.OrderListOutput:
      type: object
      properties:
        orders:
          description: list of not integrated orders
          type: array
          items:
            $ref: '#/components/schemas/v4.Order'
    v4.SetIntegratedOrdersInput:
      type: object
      properties:
        orders:
          description: Array of References of the orders to mark as integrated, required. Order refs are discoverable when listing orders.
          type: array
          items:
            type: object
            properties:
              reference_id:
                type: string
              external_id:
                type: string
            required:
            - reference_id
            - external_id
    v4.IntegratedOrdersResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        count:
          description: number of orders requested
          type: integer
        updated:
          description: collection of orders updated
          type: array
          items:
            $ref: '#/components/schemas/v4.OrderResponseInfo'
        skipped:
          description: collection of orders skipped
          type: array
          items:
            $ref: '#/components/schemas/v4.OrderResponseInfo'
        failed:
          description: collection of orders that failed to update
          type: array
          items:
            $ref: '#/components/schemas/v4.OrderResponseInfo'
    v4.OrderItem:
      type: object
      properties:
        id:
          description: REKKI's item id, for REKKI internal reference
          type: string
        name:
          description: item name as defined on the customer product list
          type: string
        price:
          description: the item price as set in REKKI
          type: string
        price_cents:
          description: the item price as set in REKKI, in cents
          type: integer
        product_code:
          description: 'product code that maps to the supplier catalog, suppliers can modify

            the product code for the future orders for this customer at https://supplier.rekki.com'
          type: string
        quantity:
          description: quantity
          type: number
        size:
          description: size of the item.
          type: string
        spec:
          description: details/notes provided by the supplier for the item
          type: string
        units:
          description: item unit as defined on the customer product list
          type: string
    v3.UpdateSuccess:
      type: object
      properties:
        affected:
          description: number of items actually updated
          type: integer
        success:
          type: boolean
          example: true
    v3.OrderItem:
      type: object
      properties:
        id:
          description: REKKI's item id, for REKKI internal reference
          type: string
        name:
          description: item name as defined on the customer product list
          type: string
        price:
          description: the item price as set in REKKI
          type: string
        price_cents:
          description: the item price as set in REKKI, in cents
          type: integer
        product_code:
          description: 'product code that maps to the supplier catalog, suppliers can modify

            the product code for the future orders for this customer at https://supplier.rekki.com'
          type: string
        quantity:
          description: quantity
          type: number
        size:
          description: size of the item. OPTIONAL FIELD. Will only be returned if requested. See v3.OrderListInput.ExtraItemFields
          type: string
        spec:
          description: details/notes provided by the supplier for the item
          type: string
        units:
          description: item unit as defined on the customer product list
          type: string
    v3.Order:
      type: object
      properties:
        confirmed_at:
          description: the time at which the supplier confirmed the order (via email, or via the REKKI supplier app, or via the REKKI API)
          type: string
          example: '2019-08-12T12:20:10-07:00'
        contact_email:
          description: the email for the person who placed the order
          type: string
        contact_info:
          description: the phone number or email address for the person who placed the order
          type: string
        contact_name:
          description: the full name of the person who placed the order
          type: string
        customer_account_no:
          description: the account number for customer within the supplier system, this can be setup in REKKI supplier app ( https://supplier.rekki.com ).
          type: string
        delivery_address:
          description: delivery address for this specific order
          $ref: '#/components/schemas/v3.DeliveryAddress'
        delivery_instructions:
          description: defined by the user at the moment of making an order (e.g. "opening hours 8am - 4pm.")
          type: string
        delivery_on:
          description: expected delivery date (when users place orders they specify for which day it is supposed to be delivered)
          type: string
          example: '2020-06-01'
        external_po_number:
          description: External Purchase Order Number for orders placed via external systems (e.g. "PO123")
          type: string
        inserted_at:
          description: when was the order created by the customer (ISO date time)
          type: string
        inserted_at_ts:
          description: when was the order created by the customer (unix timestamp in seconds)
          type: integer
        items:
          description: items requests in this order
          type: array
          items:
            $ref: '#/components/schemas/v3.OrderItem'
        location_name:
          description: the name of the location that placed the order, can be NULL
          type: string
        notes:
          description: defined by the user at the moment of making an order and usually refer to that specific order (e.g. "please send fresher tomatoes")
          type: string
        reference:
          description: REKKI's order reference
          type: string
        supplier_notes:
          description: 'notes define by the user for the supplier, usually being common across orders (e.g.: "please use the side entrance for delivery")'
          type: string
        tags:
          description: tags for this order
          type: array
          items:
            type: string
    main.OrderListInput:
      type: object
      properties:
        since:
          description: Filters orders created at or after the given unix timestamp (in seconds)
          type: integer
          example: 1565610869
    main.SetIntegrateOrdersInput:
      type: object
      properties:
        orders:
          description: Array of References of the orders to confirm, required. Order refs are discoverable when listing orders.
          type: array
          items:
            type: any
    v3.SetIntegratedOrdersInput:
      type: object
      properties:
        orders:
          description: Array of References of the orders to mark as integrated, required. Order refs are discoverable when listing orders.
          type: array
          items:
            type: string
    v3.OrderListOutput:
      type: object
      properties:
        orders:
          description: list of not integrated orders
          type: array
          items:
            $ref: '#/components/schemas/v3.Order'
    v4.DeliveryAddress:
      type: object
      properties:
        address:
          type: string
        city:
          type: string
        country:
          type: string
        postcode:
          type: string
    main.GenericErrorResponse:
      type: object
      properties:
        error:
          type: string
    v3.OrderIntegrationError:
      type: object
      properties:
        attempts:
          description: Number of attempts made to push the integration
          type: integer
        error:
          description: error message
          type: string
        product_code:
          description: product code
          type: string
        reference:
          description: Order reference
          type: string
    main.FailedOrderError:
      type: object
      properties:
        error:
          type: string
        order_id:
          type: any
    v4.OrderListInputFilter:
      type: object
      properties:
        integration_statuses:
          description: include only orders with these statuses in the list. If empty or the field is missing, the response will include all statuses.
          type: array
          items:
            description: 'The integration status. Can be one of: pending, done, failed'
            type: string
          example:
          - pending
          - failed
    v3.FailedOrderError:
      type: object
      properties:
        error:
          type: string
        order_id:
          type: string
    integration.Order:
      type: object
      properties:
        confirmed_at:
          description: the time at which the supplier confirmed the order (via email, or via the REKKI supplier app, or via the REKKI API)
          type: string
          example: '2019-08-12T12:20:10-07:00'
        contact_email:
          description: the email for the person who placed the order
          type: string
        contact_info:
          description: the phone number or email address for the person who placed the order
          type: string
        contact_name:
          description: the full name of the person who placed the order
          type: string
        customer_account_no:
          description: the account number for customer within the supplier system, this can be setup in REKKI supplier app ( https://supplier.rekki.com ).
          type: string
        delivery_address:
          description: delivery address for this specific order (address, postcode)
          type: string
        delivery_on:
          description: expected delivery date (when users place orders they specify for which day it is supposed to be delivered)
          type: string
          example: '2020-06-01'
        external_po_number:
          description: External Purchase Order Number for orders placed via external systems (e.g. "PO123")
          type: string
        inserted_at:
          description: when was the order created by the customer (ISO date time)
          type: string
        inserted_at_ts:
          description: when was the order created by the customer (unix timestamp in seconds)
          type: integer
        items:
          description: items requests in this order
          type: array
          items:
            $ref: '#/components/schemas/integration.OrderItem'
        location_name:
          description: the name of the location that placed the order, can be NULL
          type: string
        notes:
          description: defined by the user at the moment of making an order and usually refer to that specific order (e.g. "please send fresher tomatoes")
          type: string
        reference:
          description: REKKI's order reference
          type: string
        supplier_notes:
          description: 'notes define by the user for the supplier, usually being common across orders (e.g.: "please use the side entrance for delivery")'
          type: string
    v4.GenericErrorResponse:
      type: object
      properties:
        error:
          type: string
    main.OrderListOutput:
      type: object
      properties:
        orders:
          description: list of not integrated orders
          type: array
          items:
            $ref: '#/components/schemas/integration.Order'
    main.SuccessConfirmation:
      type: object
      properties:
        success:
          type: boolean
          example: true
    v3.SuccessConfirmation:
      type: object
      properties:
        success:
          type: boolean
          example: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
