openapi: 3.2.0
info:
  description: 'The base URL for all API endpoints is https://api.rekki.com/api


    Api key value consists of word Bearer together with api key that you can get from integrations@rekki.com'
  title: Rekki.com Supplier General API
  contact:
    email: integrations@rekki.com
  license:
    name: All rights reserved
  version: ''
servers:
- url: https://api.rekki.com/api
tags:
- name: General
paths:
  /integration/v1/log:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - General
      summary: Post a log message for the supplier for internal debugging.
      operationId: PostLogMessage
      deprecated: true
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/main.LogMessage'
        description: Payload
        required: true
  /integration/v3/log:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - General
      summary: Post a log message for the supplier for internal debugging.
      operationId: PostLogMessageV3
      parameters:
      - description: Required header
        name: X-REKKI-Authorization-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - supplier_api_token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3.LogMessage'
        description: Payload
        required: true
components:
  schemas:
    main.LogMessage:
      type: object
      properties:
        level:
          description: 'possible values are: "panic", "error", "fatal", "warn", "warning", "info", "debug", "trace"'
          type: string
        message:
          type: string
    v3.LogMessage:
      type: object
      properties:
        level:
          description: 'possible values are: "panic", "error", "fatal", "warn", "warning", "info", "debug", "trace"'
          type: string
        message:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
